*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
  display: inline-block;
}

ul{
  list-style: none;
}
.container{
  max-width: 1555px;
  /* margin-inline: auto; */
  margin-inline: 20px;
  padding-inline: 20px;
  overflow: hidden;
}

.flex{
  display: flex;
  align-items: center;
}

.hover-links{
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-links:hover{
  color: var(--accent-color);
}

.first-button{
  background-color:#FFFFFF;
  border-radius: 6px;
  font-weight: 700;
  color: black !important;
  /* set the color of text */
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  text-align: center;
}

.first-button:hover{
  background-color:#FFFFFF;
  color:#b2a9a9d4 !important;
 

}




/* Main-nav------ */

.main-nav{
  /* margin-top: 20px; */
  justify-content: space-between;
  /* position: relative; */
  background-color:#09131F;
  height: 60px;
}

.left-nav{
  gap: 10px;

}
.left-nav h2{
color: #FFFFFF;
font-weight: 700;
font-size: 1.5rem;

}

.club-logo img{
  width: 40px;
}
.nav-links{
  flex-basis: 730px;
  /* width decided */
}

.nav-links ul{
  justify-content: end;
  gap: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}
.nav-toggle{
 display: none;
}

    /* Welcome-section------- */


    .header-section{
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 36, 108);
  /* background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
  position: relative; */

}

/* .back-video{
  position: absolute;
  height: 800px;
 max-width: 100%;
  right: 0;
  left: 0; 
   z-index: -1; }  */

.header-text{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #FFFFFF;

 

}

.header-text h1{
  font-size: 64px;
}

.header-text p{
  color: #FFFFFF;
  font-size: 1.2rem;
  max-width: 60%;
  text-align: center;
}

.header-text button1{
  height: 50px;
  width: 200px;
  font-size: 1.5rem;
 font-weight: 200;
}
.button1{
  font-size: 1.2rem;
font-weight: 700;
}


 /* cummnity-section------- */


.community-section{
height: 664px;
justify-content: space-between;
align-items: center;
background-color: #111827;
}

.left-community{
display: flex;
flex-direction: column;
gap: 20px;
color: #FFFFFF;

}
.left-community h4{
font-size: 2rem;
font-weight: 700;
}
.left-community p{
width: 600px;
}
.left-community ul{
list-style: disc;
margin-left: 20px;
font-size: 1.1rem;
display: flex;
flex-direction: column;
gap: 10px;
}
.button2{
max-width: 230px;
margin-top: 20px;
font-size: 1.2rem;
font-weight: 700;

}

.right-community img{
height: 600px;
width: 700px;

}




       /* Event-section------ */


.event-section{
  height: 530px;
  background-color: #09131F;
  color: #FFFFFF;
}

.event-section h2{
text-align: center;
font-size: 1.8rem;
padding-top: 80px;
/* margin-top: 10px; */
padding-bottom: 30px;
}

.event-card{
  /* flex-direction: colmn; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.card1{
border-radius: 10px; 
border: 0px solid rgba(255, 255, 255, 0);
  width: 465px;
  height: 330px;
  box-shadow: 12px 18px 12px rgba(0, 0, 0, 0.456);
  background-color: #111827;
  
}

.card-img{
 border-radius: 10px 10px 0 0; 
 border: 0px solid white;
  height: 200px;
  padding: 20px 0px 15px;
  background-size: cover;

}
.card-text{
 padding-inline: 20px;
 align-items: flex-start;
 margin-block: 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.card-text h3{
 font-size: 1.2rem;
 font-weight: 700;
}

.card-text p{
 width: 80%;
}




        /* 4-community----------*/
.four-com{
background-color:#111827 ;
height: 630px;
}
.four-com h2{
color: #FFFFFF;
text-align: center;
font-size: 1.8rem;
padding-top: 80px;
padding-bottom: 20px;
}
.four-com-section{
flex-wrap: wrap;
padding-top: 20px;
gap: 100px;
justify-content: center;
align-items: center;

}
.left-com{
flex-direction: column;
gap: 10px;
max-width: 50%;

}
.right-com{
flex-direction: column;
gap: 10px;
/* max-width: 50vw; */

}

.first-com{
background-color: #09131F;
width:600px;
height: 200px;
color: #FFFFFF;
margin-top: 1dvb0px;
border-radius: 10px;
font-size: 1.2rem;
font-style: italic;
justify-content: center;


}




             /* Team-section-------------- */


.teams{
  height: 530px ;
  background-color: #09131F;
  color: #FFFFFF;
}

.teams h2{
 font-size: 1.8rem;
 font-weight: 700;
 text-align: center;
 padding-top: 80px;
 padding-bottom: 10px;
}
.teams p{
text-align: center;
padding-inline: 200px;
}

.team-img{
 justify-content:center;
 gap: 30px;
 margin-top: 50px;
}
.box{
width: 220px;
height: 222px;
border-radius: 10px; 
 border: 0px solid white;
 box-shadow: 12px 18px 12px rgba(0, 0, 0, 0.352);
 background-color: #111827;
 
  
}
.box h3{
font-size: 2rem;
text-align: center;
align-items: center;
justify-content: center;

}

             /* Login-section--------- */



.login-section{
  background-color:#111827;
  height: 560px;
  color: #FFFFFF;
}
.login-section h2{
 font-size: 1.8rem;
 text-align: center;
 padding-top: 50px;
 margin-bottom: 30px;
}
.login-main {
  display: flex;
  flex-direction: column;
 align-items: center;
 width: 1550px;
 padding: 15px;
 /* border: 1px solid blue; */
 justify-content: center;
 align-items: center;
 padding-left: 54px;

}
input{
 margin: 5px 0px;
 height: 35px;
 padding: 7px;
width: 672px;
margin-bottom: 20px;
}
.button3{
 width: 672px;
 margin-top: 20px;
}
.login-main h4{
 font-size: 1rem;
 font-weight: 200;
 margin-left: -610px;
 


}
.m-text input{
 padding-bottom: 80px;
 padding-top: 10px;
}


/* footer------ */


footer{
  background-color: black;
  height: 365px;
}
.main-footer{
 justify-content: space-evenly;
 padding-top: 50px;
 
}
.links{
 flex-direction: column;
 gap: 20px;
 align-items: flex-start;
}
.footer-list h4{
 color: aliceblue;
}
.footer-list a{
 color: rgba(240, 248, 255, 0.56);
}
.f-input input{
 background-color: black;
 width: 300px;
 border: 1px solid white;
}
.footer-copy{
 color: rgba(240, 248, 255, 0.911);
text-align: center;
margin-top: 100px;
}
